In [28]:
import pandas as pd
from sqlalchemy import create_engine, inspect

In [29]:
# import music sales data from CSV files
music_sales_file = "data/musicdata.csv"
music_sales_DF = pd.read_csv(music_sales_file, encoding='utf8')

# import artist data from CSV files
artist_file = "data/artists.csv"
artist_DF = pd.read_csv(artist_file, encoding='utf8')

# import tracks data from CSV files
tracks_file = "data/data_tracks.csv"
tracks_DF = pd.read_csv(tracks_file, encoding='utf8')

## Clean Music Sales Data

In [30]:
# Check initial data
music_sales_DF.head()

  format metric  year  number_of_records  value_actual
0     CD  Units  1973                  1           NaN
1     CD  Units  1974                  1           NaN
2     CD  Units  1975                  1           NaN
3     CD  Units  1976                  1           NaN
4     CD  Units  1977                  1           NaN

In [31]:
# Remove unnecessory column
clean_DF = music_sales_DF.drop(columns='number_of_records', inplace=False)

# Add default value for missing value
clean_DF['value_actual'].fillna(1, inplace=True)

clean_DF.head()

  format metric  year  value_actual
0     CD  Units  1973           1.0
1     CD  Units  1974           1.0
2     CD  Units  1975           1.0
3     CD  Units  1976           1.0
4     CD  Units  1977           1.0

## Clean Artist Data

In [32]:
#Check initial Data
artist_DF.head()

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0

In [33]:
# Isolate popular artists (as part of this project isolate artists with more than 3K followers)
popular_artists_DF = artist_DF.loc[(artist_DF["followers"] > 3000)]

# Rename columns to align with database attributes
popular_artists_DF = popular_artists_DF.rename(columns= {"name": "artist", "id": "artist_id"})

popular_artists_DF.head()

,artist_id,followers,genres,artist,popularity
148,3zQdpHMTdJnV4aCzGqCBYK,3918.0,"['classic persian pop', 'persian traditional']",Javad Maroufi,26
153,7frYUe4C7A42uZqCzD34Y4,53636.0,"['desi pop', 'punjabi hip hop', 'punjabi pop']",Sultaan,53
154,6acbdy69rtlv8m9EW31MYl,72684.0,"['afro dancehall', 'afropop', 'azontobeats', '...",Phyno,51
155,72578usTM6Cj5qWsi471Nc,248568.0,"['filmi', 'indian folk', 'indian rock', 'kanna...",Raghu Dixit,52
156,4rK6HLvoZhLFUTcUhG9WfC,5644.0,[],Deacon,52

## Clean Tracks Data

In [34]:
# Check initial Data
tracks_DF.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.0594,1921,0.982,"Sergei Rachmaninoff, James Levine, Berliner Ph...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.665,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,0.9630,1921,0.732,Dennis Day,0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.160,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,0.0394,1921,0.961,KHP Kridhamardawa Karaton Ngayogyakarta Hadini...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.101,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,0.1650,1921,0.967,Frank Parker,0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.381,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,0.2530,1921,0.957,Phil Regan,0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.229,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665

In [35]:
# emove records dated before 1980s
tracks_after_1980_DF = tracks_DF.loc[(tracks_DF["year"] >= 1980)]

# Remove unnecessory columns and reset indexes
clean_tracks_DF = tracks_after_1980_DF[['year', 'artists', 'danceability','duration_ms','energy', 'explicit','id','loudness','name','popularity','tempo']].copy()

#Rename column to allign with database attributes
clean_tracks_DF = clean_tracks_DF.rename(columns= {"artists":"artist"})

clean_tracks_DF.head()

,year,artist,danceability,duration_ms,energy,explicit,id,loudness,name,popularity,tempo
11606,1980,AC/DC,0.310,255493,0.700,0,08mG3Y1vljYA6bvDt4Wqkj,-5.678,Back In Black,84,188.386
11607,1980,Paul McCartney,0.774,227653,0.511,0,1SV1fxF65n9NhRHp3KlBuu,-8.914,Wonderful Christmastime - Edited Version / Rem...,79,94.736
11608,1980,Queen,0.933,214653,0.528,0,57JVGBtBLCfHw2muk5416J,-6.472,Another One Bites The Dust - Remastered 2011,73,109.975
11609,1980,Daryl Hall & John Oates,0.751,190627,0.501,0,4o6BgsqLIBViaGVbx5rbRk,-12.151,You Make My Dreams (Come True),78,167.057
11610,1980,AC/DC,0.532,210173,0.767,0,2SiXAy7TuUkycRVbbWDEpo,-5.509,You Shook Me All Night Long,80,127.361

In [36]:
# Merge tracks and artists dataframes using artist names
tracks_and_followers_DF = pd.merge(clean_tracks_DF, popular_artists_DF[['artist', 'followers', 'artist_id']], on='artist', how='left')

In [37]:
# Remove all rows with NaN
clean_tracks_followers_DF = tracks_and_followers_DF.dropna(how='any')

#Remove rows with duplicate id
updated_clean_tracks_DF = clean_tracks_followers_DF.drop_duplicates(['id'], keep=False)

#Create new Artist DataFrame
clean_artist_DF = updated_clean_tracks_DF[['artist_id', 'artist', 'followers']].copy()

In [38]:
#Remove further any duplicates in dataset
clean_artist_DF.drop_duplicates(keep="first",inplace=True)
clean_artist_DF.sort_values(by=["followers"], inplace=True,ascending=False)
clean_artist_DF.drop_duplicates(['artist_id'],keep="first",inplace=True)

In [39]:
#Remove artist followers column from tracks Dataframe
updated_clean_tracks_DF = updated_clean_tracks_DF.drop(columns='followers', inplace=False)

updated_clean_tracks_DF.head()

,year,artist,danceability,duration_ms,energy,explicit,id,loudness,name,popularity,tempo,artist_id
0,1980,AC/DC,0.310,255493,0.700,0,08mG3Y1vljYA6bvDt4Wqkj,-5.678,Back In Black,84,188.386,711MCceyCBcFnzjGY4Q7Un
1,1980,Paul McCartney,0.774,227653,0.511,0,1SV1fxF65n9NhRHp3KlBuu,-8.914,Wonderful Christmastime - Edited Version / Rem...,79,94.736,4STHEaNw4mPZ2tzheohgXB
2,1980,Queen,0.933,214653,0.528,0,57JVGBtBLCfHw2muk5416J,-6.472,Another One Bites The Dust - Remastered 2011,73,109.975,1dfeR4HaWDbWqFHLkxsg1d
3,1980,Daryl Hall & John Oates,0.751,190627,0.501,0,4o6BgsqLIBViaGVbx5rbRk,-12.151,You Make My Dreams (Come True),78,167.057,77tT1kLj6mCWtFNqiOmP9H
4,1980,AC/DC,0.532,210173,0.767,0,2SiXAy7TuUkycRVbbWDEpo,-5.509,You Shook Me All Night Long,80,127.361,711MCceyCBcFnzjGY4Q7Un

In [40]:
clean_artist_DF.head()

                   artist_id         artist   followers
6396  6eUKZXaKkcviH0Ku9w2n3V     Ed Sheeran  78900234.0
6816  66CXWjxzNUsdJxJ2JdwvnR  Ariana Grande  61301006.0
6012  1uNFoZAHBGtllmzznpCI3s  Justin Bieber  44606973.0
3927  7dGJo4pcD2V6oG8kP0tJRR         Eminem  43747833.0
5131  5pKCCKE2ajJHZ9KAiaK11H        Rihanna  42244011.0

## Connect to PostgreSQl Db and Instert Data

In [41]:
# f'postgresql://{db_param["user"]}:{db_param["password"]}@{db_param["host"]}:{db_param["port"]}/{db_param["database"]}'

connection_url = f"postgresql://admin:postgres@localhost:5432/music_db"

db_engine = create_engine(connection_url)

In [42]:
db_tables = inspect(db_engine)

db_tables.get_table_names()

['spotify_artists', 'spotify_tracks', 'music_sales']

## Using pandas to load data into postgres tables

In [43]:
# Insert artist data
clean_artist_DF.to_sql(name='spotify_artists', con=db_engine, if_exists='append', index=False)

765

In [44]:
# Check for data insertion correctness
pd.read_sql_query('SELECT * FROM spotify_artists', con=db_engine).head()

                artist_id         artist  followers
0  6eUKZXaKkcviH0Ku9w2n3V     Ed Sheeran   78900234
1  66CXWjxzNUsdJxJ2JdwvnR  Ariana Grande   61301006
2  1uNFoZAHBGtllmzznpCI3s  Justin Bieber   44606973
3  7dGJo4pcD2V6oG8kP0tJRR         Eminem   43747833
4  5pKCCKE2ajJHZ9KAiaK11H        Rihanna   42244011

In [45]:
# Insert tracks data
updated_clean_tracks_DF.to_sql(name='spotify_tracks', con=db_engine, if_exists='append', index=False)

769

In [46]:
# Check for data insertion correctness
pd.read_sql_query('SELECT * FROM spotify_tracks', con=db_engine).head()

,year,artist,danceability,duration_ms,energy,explicit,id,loudness,name,popularity,tempo,artist_id
0,1980,AC/DC,0,255493,1,0,08mG3Y1vljYA6bvDt4Wqkj,-6,Back In Black,84,188,711MCceyCBcFnzjGY4Q7Un
1,1980,Paul McCartney,1,227653,1,0,1SV1fxF65n9NhRHp3KlBuu,-9,Wonderful Christmastime - Edited Version / Rem...,79,95,4STHEaNw4mPZ2tzheohgXB
2,1980,Queen,1,214653,1,0,57JVGBtBLCfHw2muk5416J,-6,Another One Bites The Dust - Remastered 2011,73,110,1dfeR4HaWDbWqFHLkxsg1d
3,1980,Daryl Hall & John Oates,1,190627,1,0,4o6BgsqLIBViaGVbx5rbRk,-12,You Make My Dreams (Come True),78,167,77tT1kLj6mCWtFNqiOmP9H
4,1980,AC/DC,1,210173,1,0,2SiXAy7TuUkycRVbbWDEpo,-6,You Shook Me All Night Long,80,127,711MCceyCBcFnzjGY4Q7Un

In [47]:
# Insert sales Data
clean_DF.to_sql(name='music_sales', con=db_engine, if_exists='append', index=False)

8

In [48]:
# Check for data insertion correctness
pd.read_sql_query('SELECT * FROM music_sales', con=db_engine).head()

  format metric  year  value_actual
0     CD  Units  1973             1
1     CD  Units  1974             1
2     CD  Units  1975             1
3     CD  Units  1976             1
4     CD  Units  1977             1